<div class="col-md-6 offset-md-2">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>項目</th>
        <th>今回の回答</th>
        <th>前回の回答</th>
      </tr>
    </thead>
  
    <tbody>
      <% @questions.zip(@answer_keys).each do |question, answer_key| %>
      <tr>
        <td><%= question %></td>
        <td>
          <%= @answer.send(answer_key) %>
        </td>
        <td>
        <% if @pre_answer %>
          <%= @pre_answer.send(answer_key) %>
        <% end %>
        </td>
      </tr>
      <% end %>

    </tbody>
  </table>
</div> 